{% extends 'base/base.html' %}
{% load static %}
{% load placeholders %}
{% block page_content %}

    <div id="box">
            <section id="gallery">

                <br>
                <br>
                {% if not movies %}
                    <h1 style="color:white">No movies yet?</h1>
                    <br>
                    <h1 style="color:white">Suggest your favorite movies to others.</h1>
                {% else %}
                <h1 style="color:white">My movies</h1>
                <article class="gallery-container">
                    {% for movie in movies %}
                    <article class="card-info">
                        <div class="card-info-image">
                            <img src="{{ movie.movie_poster.url }}" alt="">
                        </div>
                        <article class="card-info-text">
                            <h1>Movie Title: {{ movie.name }}</h1>

                        <div>
                            <p>Genre: {{ movie.genre }}</p>
                            {% if movie.tagged_actors.all %}
                                <p>Starring:
                            {% for actor in movie.tagged_actors.all %}
                                {{ actor.full_name }}
                            {% endfor %}
                                </p>
                            {% endif %}
                            <br>
                            <p>Description: {{ movie.description }}</p>
                            <br>
                            <p>Released in: {{ movie.year_of_release }}</p>
                        </div>
                            <a href="{% url 'movie details' slug=movie.slug %}" class="gallery-details-btn">Details</a>
                        </article>
                    </article>
                {% endfor %}
                </article>
            {% endif %}
{#        <div class="pagination">#}
{#            <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last</a>#}
{#        {% endif %}#}
{#    </span>#}
{#        </div>#}
            </section>
    </div>


{% endblock %}