{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="box">
        <!-- In case of error, you should display div with class "error-box" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--<div class="error-box">
            <p>Error</p>
        </div>-->
        <main>
            <section id="edit-container">
                <div class="edit-container-info">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static 'style/img/blog-img12.jpg' %}" alt="image">

                    <form action="{% url 'edit user' pk=object.pk %}" method="post" class="container-text">
                        <h2>Edit</h2>
                        <p>Edit your profile!</p>

                        {% for field in form %}
                            <p class="error"> {{ field.errors }} </p>
                            <div class="label-input">
                                <label>{{ field.label }}</label>
                                {% if not field.label == "Gender:" %}
                                    {{ field }}
                                {% else %}
                                    <div class="list-choice">
                                        <div class="list-choice-title">Gender</div>
                                        <div class="list-choice-objects">
                                            {% for type, value in form.fields.gender.choices %}
                                                <label>
                                                    <input type="radio" value="{{ value }}" name="gender"
                                                            {% if form.gender.value == value %}
                                                           checked
                                                            {% endif %}/>
                                                    <span>{{ value }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button class="edit-btn">Edit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </section>
        </main>
    </div>
{% endblock %}