{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="box">
        <!-- In case of error, you should display div with class "error-box" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--<div class="error-box">
            <p>Error</p>
        </div>-->
        <main>
            <section id="edit-container">
                <div class="edit-container-info">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{% static 'style/img/popcorntime.webp' %}" alt="image">

                    <form action="{% url 'edit user' pk=object.pk %}" method="post" class="container-text">
                        <h2>Edit</h2>
                        <p>Edit your profile!</p>
                        <label for="painting-tech">First name</label>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                        <br>
                        <label for="painting-tech">Last name</label>
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                        <br>
                        <label for="picture">Email</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                        <label for="picture">Gender</label>
                        {{ form.gender }}

                        <button class="create-btn">Edit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </section>
        </main>
    </div>
{% endblock %}