{% extends 'base/base_bootstrap.html' %}
{% load placeholders %}
{% block page_content %}
    <!-- Start Add Pet Section-->
    <div class="edit-delete edit-photo">
        <h2>Suggest Movie</h2>

        <form action="{% url 'add movie' %}" method="post" enctype="multipart/form-data">
                {{ form.name|placeholder:'Movie Title:' }}
                {{ form.genre|placeholder:'Genre:' }}
                {{ form.movie_poster|placeholder:'Link to poster:' }}
                {{ form.year_of_release|placeholder:'Year of Release:' }}
                {{ form.description|placeholder:'Description:' }}
            <button class="add-btn" type="submit">Suggest</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}