{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div id="box">
        <!-- In case of error, you should display div with class "error-box" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--<div class="error-box">
            <p>Error</p>
        </div>-->
        <main>
            <section id="edit-container">
                <div class="edit-container-info">
                    <!-- Do not forget to change the path to the image -->
{#                    <img src="{% static 'style/img/blog-img12.jpg' %}" alt="image">#}
                    <img width="80" src="{% static 'style/img/Are you sure.gif' %}" alt="are you sure cat git">
                    <form action="{% url 'movie delete' slug=movie.slug %}" method="post" class="container-text">
                        <h2>Delete</h2>
                        <p>Are you sure you want to delete your profile?</p>
                        {{ form }}
                        <button class="edit-btn">Delete</button>
                        <a class="edit-btn" href="{% url 'movie details' slug=movie.slug %}">Go Back</a>
                        {% csrf_token %}
                    </form>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
