{% extends 'base/base_bootstrap.html' %}
{% load static %}
{% block page_content %}
<section class="bg-dark text-light p-5 text-center">
    <div class="container">
        <div class="d-inline-block">
            <div>
                <h1>Become a <span class="text-danger">Witcher
                    </span></h1>
                <p class="lead">
                    The new Witcher season is Out!
                </p>
            </div>
            <img class="img-fluid w-50" src="{% static 'images/witcher.png' %}" alt="">
            <button class="btn btn-primary btn-lg my-auto">
                Check it out
            </button>
        </div>
    </div>
</section>

{% endblock %}