{% load static %}
<nav>
    <img src="{% static 'style/img/logo.jpg' %}" alt="logo">
    <a href="{% url 'index' %}"><h1>Watch This</h1></a>

    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'movie suggestions' %}">Movie collection</a></li>
            <li><a href="{% url 'movie add' %}">Suggest a movie</a></li>
            <li><a href="{% url 'actor add' %}">Add an actor</a></li>
            <li><a href="{% url 'details user' pk=request.user.pk %}">Profile</a></li>
            <li><a href="{% url 'logout user' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'login user' %}">Log in</a></li>
            <li><a href="{% url 'register user' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>